// body {
//     background: #fbc2eb;
//     background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
//     background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
// }

body {
    background-image: url("../images/background.png");
}

.footer {
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1a2543;
    height: 80px;
}

.center-item {
    align-items: center;
    justify-content: center;
}
