:root {
    --header-size: 20vh;
}

body {
    margin-top: 10vh;
    background-color: #9b8975;
}

.team {
    background-color: #2d3e50;
    font-weight: bold;
}

.point {
    background-color: #fff8dc;
    text-align: center;
    font-weight: bold;
}

.vote{
    background-color: #ffe9d7;
    text-align: center;
    font-weight: bold;
}

.header {
    font-size: 5rem;
    font-weight: bold;
    color: #dcf2ff;
    text-align: center;
}

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translate(30px, 0);
}
